<nav class="navbar navbar-expand-md navbar-light bg-light mb-4">
  <%= link_to 'Odin Flight Booker', root_path, class: 'navbar-brand' %>
  <div class="collapge navbar-collapse">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item"><%= link_to 'Flights', root_path, class: 'nav-link' %></li>
    </ul>
  </div>
</nav>